# Django Environment
DJANGO_ENV=development
DEBUG=True
SECRET_KEY=django-insecure-change-in-production-key-for-ufa-license-system

# Database
DB_NAME=ufa_license
DB_USER=ufa_user
DB_PASSWORD=ufa_password
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379/0

# SMS Service
SMS_SERVICE=eskiz
ESKIZ_EMAIL=specialdev715@gmail.com
ESKIZ_PASSWORD=Sardor_2010

# File Storage (S3/R2)
USE_S3=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=ap-southeast-1

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=specialdev715@gmail.com
EMAIL_HOST_PASSWORD=ektkkhivxflydbkz
DEFAULT_FROM_EMAIL=noreply@ufa.uz

# CORS
# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://9534-2a05-45c2-6537-f600-51f4-827d-92d4-cbd4.ngrok-free.app
ALLOWED_HOSTS=localhost,127.0.0.1,7e88-2a05-45c2-6537-f600-51f4-827d-92d4-cbd4.ngrok-free.app
